html{
    scroll-behavior: smooth;
    background-image: url("placeholder.gif");
    background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}